{{template "main" .}}
{{ define "title" }} Error {{end}}
{{ define "content" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">About</div>
                <div class="card-body">
                    <p>
                        This is a test social network for the DAS subject. It allows users to register, login, adjust privacy settings, create posts (public and for followers), and follow other users.
                    </p>
                    <p>
                        Version: 1.0.0
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}