{{template "main" .}}
{{ define "title" }} Error {{end}}
{{ define "content" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <p>
                        For more information, you can contact us via the following email address.
                    </p>
                    <p>
                        Email: rk30@gcloud.ua.es
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}