{{template "main" .}}
{{ define "title" }} Home {{end}}
{{ define "content" }}
<div class="container">
    <!-- HEAD BARRE -->
    <nav class="navbar navbar-light shadow-sm bg-light">
        <div class="container-sm">
        <a class="navbar-brand">Posts</a>
        </div>
    </nav> 
    <div class="container">
        <div class="card">
            <!-- LISTA DE THEMES -->
            {{range .Posts}}
            <div class="list-group-item">
                <div class="bd-highlight">
                    <div class="row">
                        <a class="me-2" href="/user/{{ .UserID}}">
                            <h5>{{ .Title }}</h5>
                        </a> 
                        <hr>
                    </div>
                    <div class="row">
                        <p>{{ .Content }}</p>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{ end }}