{{template "main" .}}
{{ define "title" }} Profile {{end}}
{{ define "content" }}
<div class="container">
    <!-- HEAD BARRE -->
    <nav class="navbar navbar-light shadow-sm bg-light mb-4">
        <div class="container-sm">
        <a class="navbar-brand">User: {{ .User.Username }}</a>
        </div>
    </nav> 
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                <h5>{{ .User.Username }}</h5>
            </div>
            <div class="card-body">
                <p>{{ .User.Description }}</p>
            </div>
            <div class="card-footer">
                <div class="d-flex bd-highlight">
                    <div class=" bd-highlight">
                        <div class="media-body ml-3"> 
                            <div class="text-muted small"> 
                                {{if .User.ShowPhoneNumber }} Phone: {{ .User.PhoneNumber }} | {{end}}
                                {{if .User.ShowEmail }} Email: {{ .User.Email }} {{end}}
                            </div>
                        </div>
                    </div>
                    <div class="ms-auto bd-highlight">
                        {{ if and (.isAuth) (ne .AuthUser.ID .User.ID) }}
                            {{if .isSubscribed }}
                                <a type="button" class="btn btn-warning " href="/user/{{ .User.ID }}/unsubscribe">Unsubscribe</a>
                            {{else}}
                                <a type="button" class="btn btn-secondary " href="/user/{{ .User.ID }}/subscribe">Subscribe</a>
                            {{end}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <!--COMMENTS SECTION -->
        <div class="px-3 py-2 border-bottom shadow-sm">
            <h4>Posts</h4>
        </div>
        <div class="card pb-2">
        {{if not .Posts}}
            <div class="row pt-2">
                <div class="col px-4">
                    <div class="col-sm-8 col-md-10 ">
                        <h5 class="text-muted text-center">No posts yet</h5>
                    </div>
                </div>
            </div>
        {{end}}
        {{range .Posts}}
            <div class="row pt-2">
                <div class="col px-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row"> 
                                <div class="col-sm-8 col-md-10">
                                    <h5>{{ .Title }}</h5>
                                    {{if .ForSubcribers }}<p><small>For Subcribers</small></p> {{ end }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p> {{.Content}} </p>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
        </div>
    </div>
</div>
{{ end }}